/* GENERALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color: #C4C4C4;
}

a {
    text-decoration: none;
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: #9A1F40;
    width: 100%;
}

header a {
    color: black;
}

h1 {
    color: black;
    font-size: 4rem;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    font-size: 2.5rem;
}

#login, #SignUp {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    min-height: 80%;
}

#login.inactive, #SignUp.inactive {
    display: none;
}

section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form, label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-width: 96%;
}

main hr.notOnMobile {
    display: none;
}

input {
    width: 75%;
    font-size: 2rem;
}

label {
    font-size: 2.2rem;
}

input[type="submit"] {
    width: 50%;
    font-size: 2.2rem;
    background-color: #148DC9;
    color: black;
}

section h2, section label, section a {
    padding: 3% 0;
}

section input {
    margin: 3% 0;
}

#login a, #SignUp a {
    font-size: 1.5rem;
    color: #C4C4C4;
    padding-left: 4%;
}

#login div, #SignUp div {
    font-size: 1.5rem;
    background-color:orange;
    color: black;
    font-weight: bold;
    text-align: center;
}

#login div.erreurInactive, #SignUp div.erreurInactive {
    display: none;
}

/* FOOTER */

#footer{
    background-color: #148DC9;
    color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer>a>h3{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-top: 20px;
}

#footer>a{
    text-decoration: none;
    gap: 40px;
}

footer>h3{
    font-size: 2rem;
    padding-top: 20px;
}

.hr{
    color: black;
    width: 20%;
    height: 4px;
    background-color: black;
    border: black solid 2px;
}

.end{
    width: 70%;
    color: black;
    border: black solid 1px;
}

footer>p{
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

footer>.reseau>a>img{
    height: 20px;
    width: 20px;
    margin: 2px 10px;
}

@media screen and (min-width:481px) {
   
    /* MAIN */

    main {
        margin: 2% 0;
        min-height: 420px ;
    }
    
    #login.inactive, #SignUp.inactive {
        display: flex;
    }

    #login a, #SignUp a {
        display: none;
    }

    #login, #SignUp {
        width: 40%;
        height: 100%;
    }

    main hr {
        display: flex;
        background-color: #C4C4C4;
        color: #C4C4C4;
        width: 2px;
        height: 400px;
        padding: 2px;
        margin: 0;
    }

    main article {
        height: 100%;
    }

    main > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* FOOTER */

    #footer{
        height: 200px;
    }
}

@media screen and (min-width:1025px){

    /* FOOTER */
    
    #footer{
        height: 300px;
        width: 100%;
    }

    #footer>a>h3{
        font-size: 3rem;
    }

    #footer>h3{
        font-size: 3rem;
    }

    #footer>p{
        font-size: 3rem;
    }

    #footer>.reseau>a>img{
        height: 60px;
        width: 40px;
        margin: 0 10px;
    }
}