<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/article.css">
    <title>Article</title>
</head>
<body>
    <!-- En tête -->
    <header>
        <a href="./home.html">
            <h1>SIMPLON NEWS</h1>
        </a>
    </header>

    <!-- Section Article -->

    <section>
        <h2 id="title"> Titre de l'article</h2>
        <p id="resume"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, voluptates nostrum quasi explicabo iusto exercitationem dolorum aliquid sequi ut sit vero qui, quaerat ipsa voluptatibus dignissimos facere mollitia aliquam distinctio!
        </p>
        <img id="img" src="../Images/template_article.jpeg" alt="templates">
        <p id="content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem et excepturi commodi assumenda ipsum a quod, deserunt eos enim libero incidunt odit officiis eum numquam, dolore repellendus, fugit unde pariatur!
            Obcaecati sunt laborum velit veniam. Consequatur, praesentium similique! A perspiciatis optio aliquid ipsum quisquam rerum! Dignissimos, nam totam quas minus soluta voluptatem eius debitis magni repellendus sapiente consectetur nisi quaerat!
            Consectetur consequatur quidem veritatis nobis. Alias necessitatibus illo, esse ea nihil quaerat inventore culpa quam laborum! Nam soluta quam obcaecati dicta, expedita sapiente, perspiciatis suscipit, nesciunt corporis provident veniam repellendus.
            Accusamus consectetur incidunt officiis tempora esse aperiam pariatur! Quos error iure debitis unde molestias cum, esse dignissimos laudantium, dolores sunt, ipsum et obcaecati ea id possimus. Quidem voluptates nihil adipisci?
            Voluptas, quos. Fugit quo architecto saepe distinctio esse dignissimos. In fugit excepturi nemo quod amet eos dolore vel nam incidunt vero, eligendi molestiae officiis minima aut eveniet. Repellat, quaerat ex.
            Magnam numquam adipisci reprehenderit eveniet quidem praesentium amet nulla, ad molestiae placeat aspernatur mollitia itaque architecto error quas! Perferendis quaerat sint ducimus soluta reiciendis laborum, totam consequuntur architecto voluptate repudiandae.
            Totam in ipsam sapiente! Iste ipsa qui, eveniet, sunt consectetur quidem dolorem asperiores illum enim labore pariatur molestias nesciunt deleniti in! Sit debitis fuga quibusdam iusto impedit itaque! Officia, iusto.
            Porro nulla itaque voluptatibus dignissimos ad neque vero ea laborum, nesciunt enim, corporis quaerat molestiae! Assumenda amet vel deleniti sed sit distinctio iusto, quasi, modi nisi magnam impedit doloribus fugiat.
            Nesciunt, numquam unde! Tempore cumque quis explicabo quia culpa voluptas magnam in ad repudiandae ab facere vel dolores assumenda officiis sint nobis iure, nemo corrupti distinctio. Reprehenderit a dolorem doloribus?
            Molestiae, ea id veritatis accusantium, sit voluptate tempore, eos sint molestias in minima sapiente aperiam reprehenderit accusamus rem nemo adipisci ipsam velit rerum praesentium natus eum? Adipisci fugiat quaerat harum.
        </p>
        <h4 id="author">Auteur : Machin Truc Muche</h4>
    </section>
    <!-- les ID sont définit pour récupérer les éléments pour le JS -->

    <!-- footer -->

    <footer>
        <ul>
            <li>About Us</li>
            <hr class="forMobile">
            <li>Contact Us</li>
            <hr class="forMobile">
            <li>Follow Us</li>
        </ul>
    </footer>
    <!-- la class forMobile doit disparaitre sur les versions desktop et tablette-->

</body>
<script src="/static/JS/article.js"></script>
</html>