<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">
    <title>Homepage</title>
</head>
<body>
    <header> 
        <div id="banner"></div>
<nav>
 <h1>Simplonnews</h1>
    <ul>
        <li"logo" alt="logo"> </li>
        <li><a href=>home</a></li> 
        <li><a href=>A la une</a></li>
        <li><a href=>Direct</a></li>
        <li><a href=>A l'international</a></li>
        <li><a href=>Contact</a></li>
    </ul>
</nav>
</header> 
<section>
    <img src="mon image" alt="">
    <div>
        <h3>titre1</h3>
        <h3>titre2</h3>
        <h3>titre3</h3>
    </div>

    <aside>
        <img src="" alt="">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ad commodi corrupti incidunt odio modi recusandae voluptates, facilis ipsum non nesciunt facere repellat dolorum velit assumenda tenetur explicabo aspernatur veritatis?</p>
    </aside>
</section>
<section>
    <form>
        <div class="TextFond"><h2>Contacter</h2></div> 
        <input type="Entre votre nom">
        <input type="Entre votre email">
        <input type="Entre votre phone number">
        <input type="submit"/>
    </form>   
</section>
<footer>
    <figure>
        <img src="facebook" alt=/>
        <img src="tweeter" alt=/>
        <img src="inestgram" alt=/>
    </figure>
    <p>Floris_Nabila_Mamadou_copyright@2021</p>
</footer>
    
</body>
<script src="/static/JS/home.js"></script>
</html>